.btn-outline-primary{
    &:hover{
        color: #F5F0E7;
    }
}

.btn-primary{
    &:hover{
        background: #907A7B;
        color: #F5F0E7;
    }
}

.btn-secondary{
    &:hover{
        background-color: #907A7B;
    }
}

.btn-warning{
    &:hover{
        background-color: #C0A4A5;
        color: #F5F0E7;
    }
}

.datepicker-cell.selected, .datepicker-cell.focused, .datepicker-cell.selected:hover {
    color: white;
    background-color: #907A7B !important;
}