.card-img {
    object-fit: cover;
    object-position: center;
  
    &-bottom {
      object-position: bottom;
    }
    &-top {
      object-position: top;
    }
  
    &-badge{
      position: absolute;
      top: 0;
      left: 1.5rem;
      transform: translateY(-50%);
    }
    &-top-center{
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }