/* width */

.scrollbar {
  ::-webkit-scrollbar {
    width: 0.5rem; // y軸 用 w
    height: 0.5rem; //x軸 用 h
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #c0a4a5;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #907a7b;
    border-radius: 1rem;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f5f0e7;
  }
}
